.container {
display: flex;
flex-direction: row;
}

h3 {
    font-size: 25px;
    margin: 0;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

ul {
    padding: 0;
}


.postsCtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto
}

.headerAllPostsCtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

.onePost{
background-color: #c3bef0;
padding: 1.5rem;
width: 60vw;
margin-bottom: 1rem;
border-radius: 1rem;
}

.bodyPostCtn p {
    font-family: 'Playpen Sans', cursive;
    color: #2f2e3a;
}

.headerPostCtn{
display: flex;
justify-content: flex-start;
align-items: center;
}

.headerPostCtn h3 {
    color: #2f2e3a;
}

#imgPostUser{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
    border: 2px solid #defcf9;

}

.bodyPostCtn{
text-align: justify;
}

#file {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    transition: 0.3s ease;
}

#file:hover {
    transform: scale(1.2);
}

.footerPostCtn{
display: flex;
justify-content: space-around;
padding-top: 1rem;
border-top: solid;
border-color: #defcf9;
}

.userCtn {
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem 2rem 1rem 2rem;
border-color: #c3bef0;
border-style: solid;
border-width: 0.6em;
border-radius: 2rem;
background-color: #defcf9;
font-size: 14px;
text-align: center;
margin-top: 5rem;
margin-bottom: 3rem;
}

.userCtn h1 {
    color: #c3bef0;
    border-bottom: solid;
    padding-bottom: 1rem;
    margin-top: 0;
}

.userCtn {
    display: none;
}

#imgUser{
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.btn {
background-color: #cadefc;
border-radius: 0.4rem;
padding: 0.6rem;
border: 1px solid white;
color: #410A66;
}

.btn-question {
    filter: drop-shadow(0 0 0.25rem white);
    padding: 15px;
    border-radius: 0.4rem;
    border: 1px solid white;
    background-color: #cadefc;
    color: #410A66;
    font-size: 18px;
}

/* RESPONSIVE PART */
@media (min-width: 700px) {
    .userCtn {
        display: flex;
    }
    .container {
        justify-content: space-around;
    }
}