#h1{
    margin-top: 45px;
    margin-bottom: 40px;
}
/*QUESTION CARD*/
.question-card {
  margin: 0 auto;
  background-color: #c3bef0;
  width: 70%;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.35rem #defcf9);
  margin-bottom: 30px;
}
.question-card h2,
p {
  text-align: center;
  color: #defcf9;
}
.question-card p {
  color: #defcf9;
}
.question-card h2 {
  padding-top: 45px;
}

.question-card hr {
  width: 50%;
  border: 1.5px solid #defcf9;
}
.question-card img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.delete-btn {
  margin-top: 20px;
  margin-bottom: 20px;

  display: block;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}
#by{
    padding-bottom: 30px;
}
/*ANSWER CARD*/
.answer-card {
  margin: 0 auto;
  background-color: #defcf9;
  width: 70%;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.35rem #defcf9);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.answer-card h1,
h2,
p {
  color: #cca8e9;
}
.one-answer {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #cca8e9;
  border-radius: 10px;

  background-color: white;
  margin-bottom: 30px;
  margin-top: 20px;
}
.answer-card h1 {
  text-align: center;
}
.one-answer img{
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.one-answer img:hover{
    transform: scale(1.5);
}
