.answer-form {
  margin: 0 auto;
  background-color: #cadefc;
  width: 70%;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.35rem #defcf9);
  margin-bottom: 50px;
  margin-top: 50px;
}
.answer-form form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.answer-form form div {
  padding: 10px;
  margin: 0 auto;
  background-color: #cadefc;
}

.answer-form .text-input {
  margin: 0 auto;
  width: 100%; /* Make the input bar 100% width */
  background-color: white; /* Set white background color */
  padding: 5px 30px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add border for a cleaner look (optional) */
  border-radius: 5px; /* Optional: add border-radius for rounded corners */
  margin-bottom: 10px; /* Optional: add margin-bottom for spacing between input and file input */
}
.send-button {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.15rem white);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.send-button:hover {
  background-color: #cca8e9;
  color: white;
}
@media (max-width: 800px) {
  .answer-form .text-input {
    width: auto;
  }
  .answer-form .file-input {
    width: 134px;
    
  }.answer-form input{
    color: #cadefc;
}
}
